@font-face {
  font-family: LemonMilkBold;
  src: url("../assets/fonts/LemonMilkBold.woff") format("woff"),
    url("../assets/fonts/LemonMilkBold.otf") format("opentype");
}

@font-face {
  font-family: LemonMilk;
  src: url("../assets/fonts/LemonMilk.woff") format("woff");
}

@font-face {
  font-family: LemonMilkLight;
  src: url("../assets/fonts/LemonMilkLight.woff") format("woff");
}

@font-face {
  font-family: PeaceSans;
  src: url("../assets/fonts/PeaceSans.otf") format("opentype");
}
