$font-color-white: #fff;
$font-color-black: #000;
$font-color-black2: #494949;
$font-color-black3: #6f6f6e;

$color-primary: #bc2e3a;
$color-secondary: #171717;
$color-tertiary: #fff;

$color-grey1: #f5f5f5;
$color-grey2: #e7e7e6;
$color-black1: #424240;
$color-black2: #252525;
$color-black3: #000;
